*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Kaushan Script', cursive;
    transform: translateX(10%);
    color: white;
    margin-top: +25px;
}
.A{
    text-align: right;
    margin-top: +50px;
    margin-right: +15px;
    color: orchid;
    text-decoration: none;
    transform: translateX(190%);
    font-size: 1.5rem;
    position:absolute; right:490px;
    font-weight: bold;
}
.B{
    text-align: right;
    margin-top: +50px;
    margin-right: +15px;
    color: orchid;
    text-decoration: none;
    transform: translateX(190%);
    font-size: 1.5rem;
    position:absolute; right:775px;
    font-weight: bold;
}
.C{
    text-align: right;
    margin-top: +50px;
    margin-right: +15px;
    color: orchid;
    text-decoration: none;
    transform: translateX(190%);
    font-size: 1.5rem;
    position:absolute; right:675px;
    font-weight: bold;
}
.terms{
    background-color: black;
    color: white;
}
.col {
    text-align: center;
}
.col h7{
    text-align: center;
    color: white;
    margin: 10px;

}
.fu {

  text-align: center;
  font-size: 30px;
  color: white;
  text-decoration: none;
  border: 0;
}
.fa:hover {
  opacity: 100;
}
.fa{
    text-decoration: none;
    color: white;
}