.mailing-body{
background: url('../css/img/grey.jpg');
background-size: cover;
background-position: 50% 50%;
background-size: cover;
background-attachment: fixed;
}
.navbar{
background: url('../css/img/grey.jpg');
background-size: cover;
background-position: 50% 50%;
background-size: cover;
background-attachment: fixed;
}
a{
  color: red;
}
h1{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    color: white;
    text-align: center;
    padding-top: 120px;
}
h2{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
}


.F{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    line-height:350%;
    height: 50px;


}

.btn2{
    height: 50px;
    width: 120px;
    font-weight: 600;
    border: 2px solid red;
    margin: 0 auto;
    display: block;
    background: red;
    color: white;
    padding-top: 10px;
}
