<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}
{% block title %}
            Seether | News
{% endblock %}
{% block css_files %}
            <link rel="stylesheet" href="{% static 'css/all_news.css' %}">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
{% block content %}
    <section class="all_news-body">
    <section class="latest news">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 m-auto text-center">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <h1>NEWS</h1>
                    <br/>
                </div>
                <div class="row">
                        {% for news in news_list %}
                        <div class="col-lg-4 col-sm-6">
                        <a href="{% url 'post_detail' news.pk %}"><img src="{{ news.picture.url }}" class="pic-fluid" alt="Responsive image"></a>
                            <h3><a href="{% url 'post_detail' news.pk %}" style="text-decoration:none; color:white;">{{ news.title }}</a></h3>
                            <h4>{{ news.created }}</h4>
                         </div>
                        {% endfor %}
                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </section>
 </section>
{% endblock content %}


