{% if item %}
<div class="boxing" id="cart-item-{{ item.product.id }}">
                        <a href="{% url 'store_detail' item.product.slug %}"><img src="{{ item.product.image.url }}" alt=""></a>
                            <div class="content">
                                <h3>{{ item.product.name}}</h3>
                                <h4>Price: ${{ item.total_price }}</h4>

                                <div class="quantity mt-0 flex items-center space-x-4">
                                    Quantity:
                                    <a
                                            class="p-3 bg-gray-200"
                                            hx-get="{% url 'update_cart' item.product.id 'decrement' %}"
                                            hx-target="#cart-item-{{ item.product.id }}"
                                            hx-swap="outerHTML"
                                    >
                                        -
                                    </a>
                                    <span>{{ item.quantity }}</span>
                                    <a
                                            class="p-3 bg-gray-200"
                                            hx-get="{% url 'update_cart' item.product.id 'increment' %}"
                                            hx-target="#cart-item-{{ item.product.id }}"
                                            hx-swap="outerHTML"
                                    >
                                        +
                                    </a>
                                </div>
                                <p class="btn-area">
                                    <i class="fa fa-trash"></i>
                                    <span class="btn2">Remove</span>
                                </p>
                            </div>
</div>
{% endif %}