<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}
{% block title %}
            Seether | {{news.title}}
{% endblock %}
{% block css_files %}

            <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Play&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="post-detail-body">
    <h2>{{ news.created }}</h2>
    <h3><p>{{ news.title }}</p></h3>
    {% if news.picture %}

    <img src="{{ news.picture.url }}" class="picture-fluid" alt="Responsive image">
    {% endif %}
    <h4><p>{{ news.content }}</p></h4>
        <br/>
        <br/>
 </section>
{% endblock content %}


