<!DOCTYPE html>
<html lang="en">
{% extends "store_base.html" %}
{% load static %}
{% block title %}
            VINYL | Seether
{% endblock %}
{% block css_files %}
            <link rel="stylesheet" href="{% static 'css/store_VINYL.css' %}">
            <link rel="stylesheet" href="{% static 'css/store_base.css' %}">
{% endblock %}
{% block content %}

    <div class="img-area">
        <div class="wrappers">
            {% if product.category == VINYL %}
            {% for product in product_list %}

            <div class="single-box">
                <a href="#"><img src="{{ product.image.url }}" class="image" alt="Responsive image"></a>
                <div class="overlay">
                    <p class="caption">{{product.name}}</p>
                    <p class="price">${{product.price}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>


{% endblock content %}


